<!DOCTYPE html>
<html lang="en">

{% extends 'main.html' %}

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/font-awesome.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/owl.carousel.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/owl.theme.default.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/custom.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='stassets/css/responsive.css')}}" />
    <link rel="preconnect" href="{{ url_for('static', path='sthttps://fonts.googleapis.com')}}">
    <link rel="preconnect" href="{{ url_for('static', path='sthttps://fonts.gstatic.com')}}" crossorigin>
    <link href="{{ url_for('static', path='https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap')}}"
        rel="stylesheet"> {% endcomment %}
    {% comment %} <title> Webapp | Login </title> {% endcomment %}
</head>

<body>

    <section class="login_block">
        <div class="bg_layer">
            <img src="assets/img/login_bg.jpg" alt="">
        </div>
        <div class="txt_layer">
            <div class="logo_block">
                <img src="assets/img/dummy_img.jpg" alt="">
                <h1>Webapp Dashboard</h1>
            </div>
            <div class="login_form">
                <h2>Login</h2>
                <form action="">
                    <div class="field_grp">
                        <label for="">Email Address</label>
                        <input type="email" placeholder="Enter your email address">
                    </div>
                    <div class="field_grp">
                        <label for="">Password</label>
                        <div class="input-group">
                            <input type="password" placeholder="Enter Password" class="password_field">
                            <span class="show_pass"><img src="assets/img/eye_off.svg" alt=""></span>
                        </div>
                    </div>
                    <div class="field_check">
                        <input type="checkbox">
                        <label for="">Remember me</label>
                    </div>
                    <div class="submit_btn">
                        <input type="submit" value="Submit">
                        <a href="">Forgot Password?</a>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-3.7.1.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
</body>

</html>